div.favourite-recipe {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.favourite-recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  width: 300px;
}

img.favourite-recipe-image {
  height: 250px;
  width: 250px;
}
div.favourite-recipe-image {
  display: flex;
  padding: 0;
  height: 250px;
  width: 250px;
}

.recipe-favourite-title {
  color: black;
}
